# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/2.Igniting our App/.parcel-cache
/2.Igniting our App/dist
/2.Igniting our App/node_modules

/3.Laying the Foundation/.parcel-cache
/3.Laying the Foundation/dist
/3.Laying the Foundation/node_modules